In [1]:
import seaborn as sns
import pandas as pd
sales = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'sales')
states = pd.read_excel('https://github.com/datagy/mediumdata/raw/master/pythonexcel.xlsx', sheet_name = 'states')

In [2]:
cm = sns.light_palette("green", as_cmap=True)

s = sales.style.background_gradient(cmap=cm)
s

In [3]:
sales.style.bar(subset=['Sales'], color = '#d65f5f')

### Make an ordered list

In [4]:
a = list(range(0,15))

### Make random list of values

In [5]:
import random
b  =  random.sample(range(1,100), 10)

In [6]:
b

[22, 11, 46, 18, 28, 31, 1, 50, 39, 60]

### Sort random list above

In [7]:
b= sorted(b)

In [8]:
b

[1, 11, 18, 22, 28, 31, 39, 46, 50, 60]

### Reverse order of sorted random list

In [9]:
b[::-1]

[60, 50, 46, 39, 31, 28, 22, 18, 11, 1]

### Create function to sum two user-entered numbers

In [10]:
def add_two(x,y):
    x = input('First Number: ')
    y = input('Second Number: ')
    
    total = str(float(x) + float(y))
    
    print('The sum of ' + str(x) + ' and ' + str(y) + ' is ' + str(total))
    print('The sum of {} and {} is {}'.format(x,y,total))

In [11]:
add_two(3,4)

First Number:  5
Second Number:  8

The sum of 5 and 8 is 13.0
The sum of 5 and 8 is 13.0

### Create function to find area of circle given radius or diameter, based on user choice:

In [12]:
import math

def area():
    
    choice = ''
    
    while choice != 'radius' and choice != 'diameter':
        choice = input('Enter radius or diameter: ')
        if choice != 'radius' or choice != 'diameter':
            print('You must enter radius or diameter')
            
    if choice == 'radius':
        radius = input('Radius length in inches: ')
        area = math.pi * float(radius) * float(radius)
        print('The area of the circle is {0}'.format(area))
    
    if choice == 'diameter':
        diameter = input('Diameter length in inches: ')
        area = math.pi * (float(diameter/2) * float(diameter/2))
        print('The area of the circle is {0} inches'.format(area))

In [13]:
area()

Enter radius or diameter:  56

You must enter radius or diameter

Enter radius or diameter:  radius

You must enter radius or diameter

Radius length in inches:  89

The area of the circle is 24884.555409084755

### Function for finding ASCI value

In [14]:
ord('=')

61

### 2 Options for swapping first and last item of a list

In [15]:
sortlist = [1,2,3,4,5]

sortlist[0], sortlist[-1] = sortlist[-1], sortlist[0]

print(sortlist)

[5, 2, 3, 4, 1]

In [16]:
#Using the * operand for setting middle of list. excludes 1st and last items in list. 

sortlist = [1,2,3,4,5]

start, *middle, end = sortlist

sortlist = end, *middle, start

print(sortlist)

(5, 2, 3, 4, 1)

### Code for a chatbot that diagnoses PC issues

In [18]:
# Building own chatbot without starter code

import time
from tqdm import tqdm


def chatbot():
    print('Hello There! What can I help you with today?')
    
    user_input = ''    
    user_input_main = input('Please describe your PC issue: ')
    
    print("I'm sorry to hear that. Please turn your PC off, wait ten seconds, and then turn your PC back on. Did that fix the issue?")
    user_input = input('Please enter yes or no:')
    
    while user_input != 'yes' and user_input != 'no':
        user_input = input('Please enter yes or no: ')
    
    if user_input == 'yes':
        print('Excellent! Have a great day! We will be calling you shortly for an unnecessary survey!')
    
    if user_input == 'no':
        print("I'm sorry to hear that. Let's try something else. Let me look over your previous description and ask I'll ask you some follow up questions.")
        print('THINKING LIKE A PC WIZARD TO FIND A SOLUTION...')
        
        for i in tqdm(range(5)):
            time.sleep(1)
        
    """Use a keyword search of the original issue description to try and isolate the issue, with ittermittent yes and no verification of issue fix."""

    list_screen_issue_keywords = ['screen', 'blank', 'monitor']
    
    list_virus_issue_keywords = ['slow', 'ransom', 'ransomeware', 'malware']
    
    list_boot_issue_keywords = ['boot', 'blue']
    
    if any(word in user_input_main.split() for word in list_screen_issue_keywords):
        print('Hmmm, this may be a wire connection isse. Try verifying the HMDI or VGA cable connection is properly attached.')
        
        print("Did that fix the issue?")
        user_input = input('Please enter yes or no:')
        
        while user_input != 'yes' and user_input != 'no':
            user_input = input('Please enter yes or no: ')
    
        if user_input == 'yes':
            print('Excellent! Have a great day! We will be calling you shortly for an unnecessary survey!')
    
        if user_input == 'no':
            print("I'm sorry to hear that. Let's try something else.")
              
    if any(word in user_input_main.split() for word in list_virus_issue_keywords):
        print('Hmmm, this may be a virus isse. Use your antivirus software to run a full scan of your computer.')
        
        print("Did that fix the issue?")
        user_input = input('Please enter yes or no:')
        
        while user_input != 'yes' and user_input != 'no':
            user_input = input('Please enter yes or no: ')
    
        if user_input == 'yes':
            print('Excellent! Have a great day! We will be calling you shortly for an unnecessary survey!')
    
        if user_input == 'no':
            print("I'm sorry to hear that. Let's try something else.")

In [19]:
chatbot()

Hello There! What can I help you with today?

Please describe your PC issue:  screen issues

I'm sorry to hear that. Please turn your PC off, wait ten seconds, and then turn your PC back on. Did that fix the issue?

Please enter yes or no: no

  0%|          | 0/5 [00:00<?, ?it/s]

I'm sorry to hear that. Let's try something else. Let me look over your previous description and ask I'll ask you some follow up questions.
THINKING LIKE A PC WIZARD TO FIND A SOLUTION...

100%|| 5/5 [00:05<00:00,  1.00s/it]

Hmmm, this may be a wire connection isse. Try verifying the HMDI or VGA cable connection is properly attached.
Did that fix the issue?

Please enter yes or no: yes

Excellent! Have a great day! We will be calling you shortly for an unnecessary survey!

# Use tab to find list of autocompletes in jupyter lab

In [20]:
# filter column data with operand combinations

sales

         Product  Sales       Date           City
0        Bananas    121 2019-06-13        Atlanta
1        Bananas    236 2019-10-20        Atlanta
2         Apples    981 2019-03-12        Atlanta
3          Bread    996 2019-07-28  New York City
4       Brocolli    790 2019-10-22  New York City
5         Apples    762 2019-11-03        Toronto
6        Bananas    870 2019-11-18  New York City
7        Bananas    852 2019-03-21        Atlanta
8         Apples    427 2019-05-11        Toronto
9          Bread    576 2019-09-14        Atlanta
10       Bananas    472 2019-04-06  New York City
11       Oranges    864 2019-06-02        Atlanta
12  Strawberries    923 2019-03-30        Toronto
13      Brocolli    925 2019-06-09       Portland
14       Bananas    281 2019-04-23       Portland
15         Bread    809 2019-10-20       Portland
16       Bananas    916 2019-12-08        Toronto
17      Brocolli    705 2019-01-17  New York City
18       Bananas    710 2019-10-14  New York City
19  Strawberries    486 2019-03-16        Atlanta
20      Brocolli    791 2019-01-02        Atlanta
21  Strawberries    784 2019-04-02       Portland
22       Oranges    148 2019-08-10        Atlanta
23  Strawberries    126 2019-02-18        Atlanta
24         Bread    192 2019-02-07  New York City
25        Apples    574 2019-03-02  New York City
26       Oranges    113 2019-03-23        Toronto
27        Apples    733 2019-12-13        Toronto
28         Bread    587 2019-09-28  New York City
29      Brocolli    867 2019-03-29        Atlanta
30       Bananas    447 2019-04-25        Atlanta
31         Bread    694 2019-09-09  New York City
32  Strawberries    420 2019-03-18       Portland
33       Bananas    695 2019-12-02        Toronto
34      Brocolli    447 2019-06-20        Atlanta
35       Oranges    839 2019-04-06       Portland
36      Brocolli    672 2019-05-06        Toronto
37         Bread    984 2019-05-04        Toronto
38  Strawberries    849 2019-09-24        Toronto
39         Bread    224 2019-11-19        Atlanta
40        Apples    566 2019-06-01        Toronto
41        Apples    127 2019-02-26        Atlanta
42       Oranges    173 2019-01-10       Portland
43      Brocolli    512 2019-11-15  New York City
44         Bread    783 2019-05-23        Toronto
45        Apples    489 2019-10-12        Toronto
46         Bread    904 2019-10-28  New York City
47       Bananas    243 2019-08-12  New York City
48  Strawberries    349 2019-04-23        Atlanta
49      Brocolli    659 2019-06-26        Toronto

### Using operands for filtering pandas dataframe columns

In [21]:
# Using two operands to filter data, enusre to WRAP THE TWO CONDITIONS IN PARENTHS!

sales_filter = sales[(sales.Sales<400) & (sales.Sales>150)]

In [22]:
sales_filter

         Product  Sales       Date           City
1        Bananas    236 2019-10-20        Atlanta
14       Bananas    281 2019-04-23       Portland
24         Bread    192 2019-02-07  New York City
39         Bread    224 2019-11-19        Atlanta
42       Oranges    173 2019-01-10       Portland
47       Bananas    243 2019-08-12  New York City
48  Strawberries    349 2019-04-23        Atlanta

### IP Address Configuration

In [1]:
from ipaddress import IPv4Address

addr = IPv4Address('72.83.152.145')
addr

IPv4Address('72.83.152.145')

In [2]:
from ipaddress import IPv4Network

### SettingWithCopy Warning

In [26]:
import pandas as pd
import numpy as np

data = {'x': 2**np.arange(5), 
        'y': 3**np.arange(5), 
        'z': np.array([45, 98, 24, 11, 64])}

index = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data = data, index = index)

In [27]:
df

    x   y   z
a   1   1  45
b   2   3  98
c   4   9  24
d   8  27  11
e  16  81  64

In [28]:
mask = df['z'] < 50
mask

a     True
b    False
c     True
d     True
e    False
Name: z, dtype: bool

In [29]:
df[mask]

   x   y   z
a  1   1  45
c  4   9  24
d  8  27  11

In [30]:
# This method only changes the mask new dataframe, not the data in the original underlying dataframe (df)

df[mask]['z'] = 0

/home/rb/.virtualenvs/monte/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
df

    x   y   z
a   1   1  45
b   2   3  98
c   4   9  24
d   8  27  11
e  16  81  64

In [32]:
# Correct way to do this to set values to original dataframe, not just the mask of the dataset (kind of like query), to set vlaues less than 50 in Column z to 0.

df.loc[mask, 'z'] = 0
df

    x   y   z
a   1   1   0
b   2   3  98
c   4   9   0
d   8  27   0
e  16  81  64

In [33]:
# Another correct way, changing order of creating mask, HOWEVER it is recommended to use accessors (.iloc, etc) and not the way below

df = pd.DataFrame(data=data, index=index)

df['z']

a    45
b    98
c    24
d    11
e    64
Name: z, dtype: int64

In [34]:
df['z'][mask] = 0
df

    x   y   z
a   1   1   0
b   2   3  98
c   4   9   0
d   8  27   0
e  16  81  64

## Getting Help on Functions

In [35]:
# Just put question mark after function

sns.pairplot?

Signature:
sns.pairplot(
    data,
    hue=None,
    hue_order=None,
    palette=None,
    vars=None,
    x_vars=None,
    y_vars=None,
    kind='scatter',
    diag_kind='auto',
    markers=None,
    height=2.5,
    aspect=1,
    corner=False,
    dropna=True,
    plot_kws=None,
    diag_kws=None,
    grid_kws=None,
    size=None,
)
Docstring:
Plot pairwise relationships in a dataset.

By default, this function will create a grid of Axes such that each numeric
variable in ``data`` will by shared in the y-axis across a single row and
in the x-axis across a single column. The diagonal Axes are treated
differently, drawing a plot to show the univariate distribution of the data
for the variable in that column.

It is also possible to show a subset of variables or plot different
variables on the rows and columns.

This is a high-level interface for :class:`PairGrid` that is intended to
make it easy to draw a few common styles. You should use :class:`PairGrid`
directly if you need more flexibility.

Parameters
----------
data : DataFrame
    Tidy (long-form) dataframe where each column is a variable and
    each row is an observation.
hue : string (variable name), optional
    Variable in ``data`` to map plot aspects to different colors.
hue_order : list of strings
    Order for the levels of the hue variable in the palette
palette : dict or seaborn color palette
    Set of colors for mapping the ``hue`` variable. If a dict, keys
    should be values  in the ``hue`` variable.
vars : list of variable names, optional
    Variables within ``data`` to use, otherwise use every column with
    a numeric datatype.
{x, y}_vars : lists of variable names, optional
    Variables within ``data`` to use separately for the rows and
    columns of the figure; i.e. to make a non-square plot.
kind : {'scatter', 'reg'}, optional
    Kind of plot for the non-identity relationships.
diag_kind : {'auto', 'hist', 'kde', None}, optional
    Kind of plot for the diagonal subplots. The default depends on whether
    ``"hue"`` is used or not.
markers : single matplotlib marker code or list, optional
    Either the marker to use for all datapoints or a list of markers with
    a length the same as the number of levels in the hue variable so that
    differently colored points will also have different scatterplot
    markers.
height : scalar, optional
    Height (in inches) of each facet.
aspect : scalar, optional
    Aspect * height gives the width (in inches) of each facet.
corner : bool, optional
    If True, don't add axes to the upper (off-diagonal) triangle of the
    grid, making this a "corner" plot.
dropna : boolean, optional
    Drop missing values from the data before plotting.
{plot, diag, grid}_kws : dicts, optional
    Dictionaries of keyword arguments. ``plot_kws`` are passed to the
    bivariate plotting function, ``diag_kws`` are passed to the univariate
    plotting function, and ``grid_kws`` are passed to the :class:`PairGrid`
    constructor.

Returns
-------
grid : :class:`PairGrid`
    Returns the underlying :class:`PairGrid` instance for further tweaking.

See Also
--------
PairGrid : Subplot grid for more flexible plotting of pairwise
           relationships.

Examples
--------

Draw scatterplots for joint relationships and histograms for univariate
distributions:

.. plot::
    :context: close-figs

    >>> import seaborn as sns; sns.set(style="ticks", color_codes=True)
    >>> iris = sns.load_dataset("iris")
    >>> g = sns.pairplot(iris)

Show different levels of a categorical variable by the color of plot
elements:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, hue="species")

Use a different color palette:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, hue="species", palette="husl")

Use different markers for each level of the hue variable:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, hue="species", markers=["o", "s", "D"])

Plot a subset of variables:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, vars=["sepal_width", "sepal_length"])

Draw larger plots:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, height=3,
    ...                  vars=["sepal_width", "sepal_length"])

Plot different variables in the rows and columns:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris,
    ...                  x_vars=["sepal_width", "sepal_length"],
    ...                  y_vars=["petal_width", "petal_length"])

Plot only the lower triangle of bivariate axes:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, corner=True)

Use kernel density estimates for univariate plots:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, diag_kind="kde")

Fit linear regression models to the scatter plots:

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, kind="reg")

Pass keyword arguments down to the underlying functions (it may be easier
to use :class:`PairGrid` directly):

.. plot::
    :context: close-figs

    >>> g = sns.pairplot(iris, diag_kind="kde", markers="+",
    ...                  plot_kws=dict(s=50, edgecolor="b", linewidth=1),
    ...                  diag_kws=dict(shade=True))
File:      ~/.virtualenvs/monte/lib/python3.7/site-packages/seaborn/axisgrid.py
Type:      function

## Using Classes

In [73]:
# Triangle Class Exercise to check if angles are 180 or not

class Triangle():
    def __init__(self, angle1, angle2, angle3):
        
        self.angle1 = angle1
        self.angle2 = angle2
        self.angle3 = angle3
        
    number_of_sides = 3
        
    def check_angles(self):
            
        if self.angle1 + self.angle2 + self.angle3 == 180:
                
            return True
        else:
                
            return False     
            

# Inputs Test
my_triangle = Triangle(30,50,100)

print(my_triangle.number_of_sides)

print(my_triangle.check_angles())

3
True

In [87]:
# Songs Class Exercise

class Song(object):
    def __init__(self, lyrics):
        self.lyrics = lyrics
        
    def sing_me_a_song(self):
        
        for line in self.lyrics:
            print(line)

happy_bday = Song(["May god bless you, ",
           "Have a sunshine on you,",
           "Happy Birthday to you !",
           "TEST"])

In [88]:
happy_bday.sing_me_a_song()

May god bless you,
Have a sunshine on you,
Happy Birthday to you !
TEST

In [89]:
Song

__main__.Song

In [26]:
# Lunch Class Exercise Mod

class Lunch(object):
    def __init__(self, menu):
        self.menu = menu
    
    def menu_price(self):
        
        if self.menu == 'menu 1':
            print(f'Your choice {self.menu}, \nPrice: $12.00')
        elif self.menu == 'menu 2':
            print(f'Your choice {self.menu}, \nPrice: $13.40')
        else:
            print('Error in menu')

In [28]:
Paul = Lunch('menu 2')

Paul.menu_price()

Your choice menu 2,
Price: $13.40

### Had to adjust the code examples, they had put only 'menu' in the nested if statements, but formatting the way i did needed to put 'self.menu' to get correct values, was getting undefined error on 'menu' before fix.

In [29]:
# Class examples in PyResearch folder

class Point:
    
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [32]:
p = Point(4,5)

(p.x + p.y)

9

In [34]:
class PointTwo(object):
    
    size = 4
    color = 'red'
    
    def __init__(self, x: int, y: int):
        self.x = x
        self.y = y

In [39]:
p = PointTwo(4,5)

(p.size, p.y, p.color)

(4, 5, 'red')

In [61]:
class PointTre():
    
    size = 4
    color = 'red'
    
    def __init__(self, x: int, y: int):
        self.x = x
        self.y = y
        
    def get_color(self):
        return self.color

In [62]:
p = PointTre(4,5)

In [63]:
p.get_color()

'red'

## Alternatives to Nested ElseIf statements

In [86]:
# dict used instead of if else setatements

price_list = {
'fish': 8,
'beef': 7,
'broccoli': 3,
}

In [89]:
# if else function

def find_price(item):
    if item in price_list:
        return f'The price for {item} is {price_list[item]}'
    else:
        return f'The price for {item} is not available'

print(find_price('fish'))

print(find_price('cauliflower'))

The price for fish is 8
The price for cauliflower is not available

In [94]:
# function replace if else

def find_price(item):
    return f'The price for {item} is {price_list.get(item, "not available")}'

print(find_price('fish'))

print(find_price('cauliflower'))

The price for fish is 8
The price for cauliflower is not available

## Generators and Context Managers

### Generators: By using generators paired with 'yield' it is possible to temporarily use memory instead of loading all of it into memory, used for both functions and lists

### Context Managers: Good use to free up computing resources instead of storing connectinos in memory, or storing large lists of values in memory.

### Generators

In [96]:
# Iterator on a list - set up for Generators

a_list = list(range(0,4))

print(a_list)

list_iter = iter(a_list)

next(list_iter)

[0, 1, 2, 3]

0

In [100]:
next(list_iter)

StopIteration:

In [121]:
# Generator Function - they yield a value rather than returning a value, state is preserved between yields
# Generators are really iterators that do the 'bookkeeping' for you, used to iterate over integers since they are not iterable by themselves

def y_range(start, stop, steps=1):
    i = start
    
    while i < stop:
        yield i
        i += steps

In [122]:
y = y_range(3,5)

In [123]:
y

In [124]:
next(y)

3

## Syntax - Decorators

In [126]:
# simple add function to show use of decorators, decorators are functions that take other 
# functions as inputs

def add(a,b):
    print(f'Function "add" called with args: {a}, {b}')
    result = a + b
    
    print(f'Result: {result}')
    return result

In [127]:
add(4,5)

Function "add" called with args: 4, 5
Result: 9

9